body {
    font-family: sans-serif;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container {
    background: #f2f2f2;
    width: 40%;
    padding-top: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container .product-info {
    margin: 20px 50px;
}

/* ========================= product header ========================== */
/* =================================================================== */
main .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

main .product-header .product-header-content {
    flex: 1;
    text-align: center;
}

main .product-header #product-header-title {
    flex: 2;
    text-align: left;
}

img {
    width: 100px;
    height: 100px;
}

/* =========================== product item =========================== */
/* ==================================================================== */
main .product-item img {
    width: 100px;
    height: 100%;
    border-radius: 4px;
}

main .product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
}

main .product-item .product-item-more,
main .product-item .product-item-quantity {
    text-align: center;
    padding: 5px;
    flex: 1;
}


main .product-item .product-item-title {
    display: flex;
    flex: 2;
    gap: 10px;
    align-items: center;
}

main .product-item .product-item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity:hover {
    cursor: default;
}

.container-product-price {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid grey;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* =========================== back button =========================== */
/* =================================================================== */
#form-input-info {
    margin-top: 50px;
}

#form-input-info button {
    background: white;
    padding: 15px;
    font-size: 16px;
    border-radius: 50px;
    border: black 1px solid;
    transition: 0.3s;
}

#form-input-info button:hover {
    cursor: pointer;
    background: #F2B035;
}