body {
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: white;
}
.section_1{
    background: #212328;
    width: 70%;
    height: 900px;
    /*border-top: #EDB310;*/
    border-radius: 5px;
}

