body {
    margin: 0;
}
header {
    width: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}
header .top-banner {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 2px solid black;
}
header .brand-name {
    flex: 1;
    padding-left: 10px;
}
header img[alt="Travel Logo"] {
    width: 140px;
    height: 60px;
    margin: -7px;
}
header .brand-name p {
    margin: 0;
    font-size: 10px;
    letter-spacing: 2px;
    color: #fff;
    opacity: 0.9;
    transform: translateX(20px);
}
header .header-search {
    flex: 5;
}
header .search-bar {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    width: 1000px;
    position: relative;
    left :80px;
}
header .search-select {
    padding: 9px 10px;
    color: black;
    height: 40px;
    background-color: orange;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
header .search-select:focus {
    color: white;
    background-color: purple;
}
header .search-select option {
    color: black;
    background-color: white;
}

header .search-icon {
    padding: 8px 10px;
    color: black;
    font-size: 16px;
    background-color: white;
}

header .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 2px;
    font-size: 12px;
}
header .divider {
    width: 1px;
    height: 22px;
    background-color: black;
}
header .search-button {
    background-color: orange;
    color: black;
    border: none;
    padding: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    height: 40px;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .search-button:hover {
    color: white;
    background-color: purple;
}
header .top-banner .container-icons {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
header .avatar-icon-notify{
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .avatar-icon-shopping-cart {
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .avatar-icon-user {
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .inner-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .inner-circle:hover {
    background-color: purple;
}

header .inner-circle i {
    color: black;
    font-size: 28px;
}
header .inner-circle i:hover {
    color: white;
}

header nav {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 25px;
    gap: 25px;
}
header .img-nav img {
    width: 80px;
    height: auto;
}
header .content-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    flex: 1;
    font-size: 14px;
}
header #menu-toggle {
    width: 30px;
    height: 32px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    border:  1px solid transparent;
    cursor: pointer;
    right :75px;
    font-size: 15px;
}
header #menu-toggle:hover {
    background-color: purple;
    color: white;
}
header .content-nav > ul  {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    right: 85px;
}
header .content-nav ul li a  {
    text-decoration: none;
    color: black;
    font-weight: bold;
    /*text-transform: uppercase;*/
    transition: 0.3s;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
}
header .content-nav ul li a:hover {
    color: white;
    background-color: purple;
}
header .dropdown {
    position: relative;
}
header .dropdown-menu {
    position: absolute;
    top: 150%;
    left: -30px;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
    min-width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
}
header .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
header .dropdown-menu li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

header .dropdown-menu li:last-child {
    border-bottom: none;
}
header .dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: black !important;
    text-decoration: none;
    background-color: white;
    font-weight: 500;
    transition: all 0.25s ease;
}