* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

li {
    list-style: none;
}

/* header */

.top-banner {
    position: relative;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 7px 0;
    font-size: 14px;
    border-bottom: 2px solid #333
}
.brand-name {
    position: absolute;
    top: 5px;
    left: 25px


}

.brand-name h1 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;

}

.brand-name p {
    margin: 0;
    font-size: 10px;
    letter-spacing: 2px;
    color: #fff;
    opacity: 0.9;
    transform: translateX(20px);
}
.header-search {
    padding: 0 120px;
}
.search-bar {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
}
.search-select{
    padding: 10px 10px;
    color: black;
}
.search-bar input {
    flex: 1;
    padding: 8px 100px;
    border: none;
    outline: none;

}
.search-bar input::placeholder {
    position: relative;
    color: lightgrey;
    right: 15px;
}

.search-btn {
    background: orange;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
}
.search-btn:hover {
    background-color: purple;
}

.lang-select {
    position: relative;
    width: 150px;
    font-size: 14px;
    user-select: none;
}



.selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: black;
    border-radius: 6px;
    padding: 6px 30px;
    cursor: pointer;
    transition: 0.2s;
}

.selected:hover {
    background-color: purple;
    color: white;
}


.selected img {
    width: 15px;
    height: 14px;
    margin-right: 6px;
}


.options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    color: black;
    border: 1px solid #a020f0;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 100;
}


.lang-select:hover .options {
    display: block;
}


.option {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    cursor: pointer;
    transition: 0.2s;
}

.option img {
    width: 20px;
    height: 14px;
}

.option:hover {
    background-color: purple;
    color: white;
}


.lang-select,
.selected,
.options {
    background-color: #fff;
}
#cart {
    background-color: white;
    border:  1px solid transparent;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
    outline: none;
    margin-left: 1rem;
    position: relative;
    right: -200px;
    font-size: 20px;
}

#cart:hover {
    border-width: 1px;
    border-color: purple;
}

#cart i {
    font-size: 20px;
    color: black;
}
#login {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 7px;
    border:  1px solid transparent;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    right :-200px;

}

#login:hover {
    border-width:1px ;
    border-color:purple;
}

nav {
    background-color: #ffa500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 50px;
    gap: 25px;
}


.img-nav img {
    width: 80px;
    height: auto;
}

#menu-toggle {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    border:  1px solid transparent;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    right :75px;
}

#menu-toggle:hover {
    border-width:1px ;
    border-color:purple;
}

.content-nav {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    gap: 50px;
    flex: 1;
    font-size: 12px;
}

.content-nav > ul  {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    right: 85px;
}

.content-nav ul li a  {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
}

.content-nav ul li a:hover {
    background-color: purple;
}


.dropdown {
    position: relative;
}


.dropdown-menu {
    position: absolute;
    top: 150%;
    left: -30px;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
    min-width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
}


.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.dropdown-menu li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}


.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: black !important;
    text-decoration: none;
    background-color: white;
    font-weight: 500;
    transition: all 0.25s ease;
}



.product-section {
    padding: 50px 80px;
    background-color: #f9f9f9;
    text-align: center;
}

.product-section h2 {
    background-color: #ffa500;
    color: white;
    font-size: 26px;
    margin: 20px 0 25px;
    letter-spacing: 1.5px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    padding-bottom: 5px;
    border-radius: 10px;
    width: 22%;
    cursor: pointer;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-bottom: 40px;
    padding: 30px 40px;
}

.product-card {
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: purple;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 8px;
    border-radius: 5px;
    z-index: 10;
}
.product-card img {
    width: 45%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card img:hover {
    transform: scale(1.1);
}


.product-card h3 {
    margin: 10px 0 5px;
    font-size: 17px;
    color: #333;
}

.price {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    height: 40px;
}
.price .old-price {
    text-decoration: line-through;
    color: #888;
    margin-right: 8px;
}

.price .new-price {
    font-weight: bold;
    color: purple;
}

.buy-btn {
    background-color: #800080;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

.buy-btn:hover {
    background-color: #a000a0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    color: white;
    padding: 28px 60px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-left {
    position: absolute;
    top: 5px;
    left: 25px


}

.footer-left h3 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;

}

.footer-left p {
    margin: 0;
    font-size: 10px;
    letter-spacing: 2px;
    color: #fff;
    opacity: 0.9;
    transform: translateX(20px);
}
.footer-right {
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: white;
}

.footer-right i {
    color: orange;
    font-size: 18px;
}

