body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make body at least fill the viewport */
    background: #f5f5f5;
}

header, footer {
    padding: 30px;
    text-align: center;
    background: #F2C641;
    color: white;
    font-size: 30px;
}

main {
    flex: 1;
}

main .container {
    margin: 0 18%;
}

main h1 {
    font-size: 24px;
    color: #F2B035;
    padding: 20px 30px;
    margin: 0 0 10px;
    background: white;
}

/* ======================= product info header ======================= */
/* =================================================================== */
main .product-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 22px;
    font-size: 16px;
    font-weight: bold;
    background: white;
}

main .product-info-header .product-info-header-content {
    flex: 1;
    text-align: center;
}

main .product-info-header #product-info-header-title {
    flex: 2;
    text-align: left;
}

/* =========================== product item =========================== */
/* ==================================================================== */
main .product-info .container-product-items {
    background: white;
    margin-bottom: 10px;
}

main .product-item img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

main .product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
}

main .product-item .product-item-more,
main .product-item .product-item-quantity {
    text-align: center;
    padding: 5px;
    flex: 1;
}


main .product-item .product-item-title {
    display: flex;
    flex: 2;
    gap: 10px;
    align-items: center;
}

main .product-item .product-item-title p {
    color: grey;
}

main .product-item .product-item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .product-item .product-item-quantity .minus-quantity-button,
main .product-item .product-item-quantity .plus-quantity-button,
main .product-item .product-item-quantity .quantity {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: white;
    box-sizing: border-box;
    border: lightgrey solid 1px;
    padding: 0;
    border-radius: 0;
}


main .product-item .product-item-quantity .minus-quantity-button:hover,
main .product-item .product-item-quantity .plus-quantity-button:hover {
    background: lightgrey;
}

main .product-item .product-item-quantity .quantity {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .product-item .product-item-quantity .quantity:hover {
    cursor: default;
}

/* action button */
/* select */
main .product-item .action-select-product {
    accent-color: #d38d0e;
    transition: 0.3s;
}

/* delete */
main .product-item .action-delete-product {
    background: none;
    border: none;
    transition: 0.3s;
}

main .product-item .action-delete-product:hover {
    color: red;
}

/* ============================= final cost =========================== */
/* ==================================================================== */
.container-product-price {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

.container-product-price .container-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 14px;
}

.container-product-price .container-price p {
    margin: 10px;
}

.container-product-price #final-price .title {
    font-weight: bold;
}

.container-product-price #final-price .price {
    font-weight: bold;
    color: #F2B035;
}

/* voucher */
.container-product-price #container-voucher {
    justify-content: left;
    gap: 10px;
    border-bottom: lightgrey solid 1px;
    padding: 10px;
}

.container-product-price #container-voucher .voucher-input {
    display: flex;
    gap: 5px;
}

.container-product-price #container-voucher input {
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    outline: none;
}

.container-product-price #container-voucher button {
    padding: 5px;
    border: none;
    background: #F2C641;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;

}

.container-product-price #container-voucher button:hover {
    background: #F2B035;
}

/* =============================== form =============================== */
/* ==================================================================== */
/* margin, font-size, etc */
main .user-info {
    background: white;
    margin-bottom: 10px;
}

main .form-container {
    padding: 0 50px;
    font-size: 14px;
}

main #form-input-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ============ title and button to change your information ============ */
main #form-input-info .container-user-title {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px 10px 0;
}

main #form-input-info .container-user-title h2 {
    margin: 0;
    font-size: 20px;
    color: #F2C641;
    text-transform: uppercase;
}

/* edit button to change your information */
main #form-input-info .container-user-title .edit-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

main #form-input-info .container-user-title .edit-btn:hover {
    transform: scale(1.05);
}

/* input, textarea place */
main #form-input-info .form-row {
    display: flex;
    gap: 20px;
}

main #form-input-info .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex: 1;
}

/* label */
main #form-input-info .form-group label,
main #form-input-info .payment-container > label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* input textarea */
main #form-input-info .form-group input,
main #form-input-info .form-group textarea {
    resize: none;
    padding: 8px 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    outline: none;
}

/* Radio button choosing your payment method*/
main #form-input-info .radio-container {
    padding: 10px;
    border: lightgrey 1px solid;
    border-radius: 4px;
}

main #form-input-info .radio-container input {
    margin: 0 10px;
}

main #form-input-info .radio-container label {
    display: flex;
    margin: 8px 0;
    align-items: center;
}

main #form-input-info .radio-container img {
    width: auto;
    height: 30px;
}

/* confirm/submit button */
main #form-input-info .container-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px;
}

main #form-input-info .confirm-btn {
    width: 50%;
    background-color: #F2C641;
    color: white;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 8px;
}
