body {
    margin: 0;
    font-family: sans-serif;
}

header {
    padding: 30px;
    text-align: center;
    background: #F2C641;
    color: white;
    font-size: 30px;
}

main {
    margin: 0 18%;
}

/* ============================= tab menu ============================= */
/* ==================================================================== */
main .tab-nav-menu {
    display: flex;
    margin: 30px 0;
    border: lightgrey solid 2px;
}

main .tab-menu {
    flex: 1;
    text-align: center;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}

main .tab-menu.active,
main .tab-menu:hover {
    border-bottom: #F2B035 2px solid;
    color: #F2B035;
}

/* ========================= product header =========================== */
/* ==================================================================== */
main .product-header {
    display: flex;
    align-items: center;
    padding: 22px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

main .product-header-price,
main .product-header-status,
main .product-header-date {
    flex: 1;
    text-align: center;
}

main .product-header-title {
    flex: 2;
    text-align: left;
}

/* ============================= content ============================== */
/* ==================================================================== */
/* show content */
main .product-content {
    display: none;
}

main .product-content.active {
    display: block;
}

/* nothing image show */
main #cancelled.active {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* layout */
main .container-contents .product {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
}

/* img */
main .container-contents .product img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

/* title */
main .container-contents .product .product-title {
    display: flex;
    flex: 2;
    gap: 10px;
    align-items: center;
}

main .container-contents .product .product-price,
main .container-contents .product .product-status-delivered,
main .container-contents .product .product-status-shipping,
main .container-contents .product .product-date {
    text-align: center;
    padding: 5px;
    flex: 1;
}

.product-status-delivered {
    font-weight: bold;
    color: green;
}

.product-status-shipping {
    font-weight: bold;
    color: #F0AF35;
}