body {
    margin: 0;
    font-family: sans-serif;
}

header, footer {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

/* Menu */
.menu {
    background-color: #3b3b4f;
}
.menu ul {
    margin: 0 0 20px;
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu li {
    margin: 0 20px;
}
.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 0;
    font-weight: 500;
}
.menu a:hover {
    color: #fdd835;
}


/* main */
main {
    margin: 0 350px;
}

main .container_image img {
    width: 300px;
    height: 300px;
}

main #section_1 .container {
    display: flex;
    gap: 50px;
    margin: 40px 0;
}

main #section_2 button {
    width: 100%;
    padding: 15px;
    font-size: 15px;
}

main #section_3 .container {
    display: flex;
    flex-direction: column;
}
main #section_3 h3 {
    font-size: 22px;
    margin-bottom: 0px;
}
main #section_3 .comment-form {
    padding: 15px;
    border-bottom: #1abc9c solid;
}
main #section_3 .comment-form textarea {
    width: 100%;
    height: 100px;
}
main #section_3 .comment-list {
    margin: 15px 0 30px;
}
main #section_3 .comment {
    background: grey;
    margin: 10px;
    border: #1abc9c solid;
}


