body {
    margin: 0;
    font-family: sans-serif;
}

header, footer {
    padding: 30px;
    text-align: center;
    background: #F2C641;
    color: white;
    font-size: 30px;
}

/* ======================= menu ======================= */
/* ==================================================== */
.menu {
    background-color: #3b3b4f;
}

.menu ul {
    margin: 0 0 20px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 0;
    font-weight: 500;
}

.menu a:hover {
    color: #F2C641;
}


/* ======================= main ======================= */
/* ==================================================== */
main {
    margin: 0 350px;
}

/* ======================= product section ======================= */
/* =============================================================== */
/* Product section layout */
.section-product {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.container-images {
    flex: 1;
}

.container-images .main-image {
    width: 100%;
    border: 1px solid lightgrey;
}

.images-list {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.images-list img {
    width: 45px;
    height: 45px;
    border: 1px solid lightgrey;
    cursor: pointer;
}

.images-list img:hover {
    border-color: black;
}

/* Product details (right side) */
.product-details {
    flex: 1;
}

.product-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.desc {
    color: grey;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* =============================== option section ===============================
you choosing size, colors for your product
*/
.option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.option label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.color-options, .size-options {
    display: flex;
    gap: 10px;
}

/* color button */
.color-btn {
    width: 25px;
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}

.color-btn.black {
    background: black;
}

.color-btn.red {
    background: red;
}

.color-btn.blue {
    background: blue;
}

/* When selected */
.color-btn.active {
    border: 3px solid #F2B035;
}

/* size button */
.size-options button {
    padding: 8px 14px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    transition: 0.3s;

}

.size-options button:hover {
    background: white;
    border-color: #F2B035;
}

/* when selected */
.size-options button.active {
    background: #F2B035;
    border-color: #F2B035;
}

/*======================= cart page button section =======================*/
.section-product .container-buttons button {
    background-color: #F2C641;
    color: black;
    border: none;
    padding: 14px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.section-product .container-buttons button:hover {
    background: #F2B035;
}

.section-product .container-buttons #buyBtn {
    width: 70%;
}

.section-product .container-buttons #addToCartBtn,
.section-product .container-buttons #addToWishListBtn {
    width: 10%;
}

#addToWishListBtn {
    color: white;
    background: hotpink;
}

#addToWishListBtn:hover {
    background: deeppink;
}

/* ======= Popup ======= */
.popup {
    display: none; /* ẩn mặc định */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup .popup-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.popup .popup-content h2 {
    margin-top: 0;
    text-align: center;
}

.popup .popup-content label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

.popup .popup-content input,
.popup .popup-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

.popup .popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popup .popup-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.popup #confirmBuy {
    background: #F2C641;
    font-weight: bold;
}

.popup #confirmBuy:hover {
    background: #F2B035;
}

.popup #cancelBuy {
    background: lightgray;
}

.popup #cancelBuy:hover {
    color: white;
    background: red;
}


/* ======================= comment section ======================= */
/* =============================================================== */
main .section-comment {
    display: flex;
    flex-direction: column;
}

main .section-comment h3 {
    font-size: 22px;
    margin-bottom: 0;
}

main .section-comment .comment-form {
    padding: 15px;
    margin: 10px;
    border-bottom: 2px #F2C641 solid;
}

/* button for commenting */
main .section-comment .comment-form button {
    background-color: #F2C641;
    color: black;
    border: none;
    padding: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

main .section-comment .comment-form button:hover {
    background: #F2B035;
}


main .section-comment .comment-form textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

/* Container comment */
main .section-comment .comment-list {
    margin: 20px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* khoảng cách giữa các comment */
}

/* Comment box */
main .section-comment .comment {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 2px 6px lightgrey;
}

/* user name (comment) */
main .section-comment .comment h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0 6px;
    color: #333333;
}

/* comment content */
main .section-comment .comment p {
    font-size: 14px;
    color: #555555;
    margin-bottom: 8px;
}

/* comment date */
main .section-comment .comment span {
    font-size: 12px;
    color: #999999;
}

.status-msg {
    color: green;
    font-weight: bold;
    transition: opacity 0.3s;
    opacity: 0;
    text-align: center;
    margin-top: 10px;
}
.status-msg.show {
    opacity: 1;
}