body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make body at least fill the viewport */
}

header, footer {
    padding: 30px;
    text-align: center;
    background: #F2C641;
    color: white;
    font-size: 30px;
}

main {
    flex: 1;
}

main .container {
    background: white;
    margin: 0 18%;
}

h1 {
    color: #F2B035;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ========================== wishlist header ========================= */
/* ==================================================================== */
main .wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    font-weight: bold;
    background: #f2f2f2;
}

main .wishlist-header .wishlist-header-content {
    flex: 1;
    text-align: center;
}

main .wishlist-header #wishlist-header-title {
    flex: 2;
    text-align: left;
}

/* ========================== wishlist items ========================== */
/* ==================================================================== */
/* general */
main .wishlist-item {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
}

.wishlist-item .wishlist-item-price,
.wishlist-item .wishlist-item-status,
.wishlist-item .wishlist-item-buttons {
    text-align: center;
    padding: 5px;
    flex: 1;
}
.wishlist-item .wishlist-item-status.hasProduct {
    color: green;
}
.wishlist-item .wishlist-item-status.outOfProduct {
    color: red;
}

/* title */
.wishlist-item .wishlist-item-title {
    display: flex;
    flex: 2;
    gap: 10px;
    align-items: center;
}
/* img */
.wishlist-item .wishlist-item-title img {
    width: 100px;
    height: auto;
    border-radius: 4px;
}
/* p-description */
.wishlist-item .wishlist-item-title p {
    color: grey;
}

/* button */
.wishlist-item .wishlist-item-buttons .add-to-cart {
    background: #F2C641;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.3s;
}

.wishlist-item .wishlist-item-buttons .add-to-cart:hover {
    background: #F2B035;
}

.wishlist-item .wishlist-item-buttons .remove-btn {
    background: none;
    border: 1px solid white;
    color: grey;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.wishlist-item .wishlist-item-buttons .remove-btn:hover {
    background: red;
    color: white;
}
