#footer1 {
    background: black;
    padding: 60px 10%;
    border-top: 1px solid #eee;
}

#footer1 .footer1-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer1 .footer1-column {
    min-width: 180px;
    margin-bottom: -35px;
}

#footer1 .footer1-column h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    color: #EDB310;
}

#footer1 .footer1-column a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 6px 0;
    transition: 0.2s;
}

#footer1 .footer1-column a:hover {
    color: #EDB310;
}

#footer2 {
    background: black;
    padding: 60px 0;
    border-top: 1px solid black;
}

#footer2 .socials {
    text-align: center;
    margin: 30px 0;
}

#footer2 .socials a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#footer2 .socials a:hover {
    color: #EDB310;
}

#footer2 .brand {
    color: white;
    text-align: center;
    border-top: 1px solid white;
    padding-top:  20px;
}

#footer2 .brand img {
    width: 100px;
    margin-bottom: 10px;
}