/* ----------------------------------------footer---------------------------------------- */
footer {
    background: black;
    border-top: 1px solid #eee;
}

footer .selection2 {
    background: black;
    padding: 60px 10%;
    border-top: 1px solid #eee;
}

footer .selection2 .selection2-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .selection2 .selection2-column {
    min-width: 180px;
    margin-bottom: 30px;
}

footer .selection2 .selection2-column h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    color: #EDB310;
}

footer .selection2 .selection2-column a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 6px 0;
    transition: 0.2s;
}

footer .selection2 .selection2-column a:hover {
    color: #EDB310;
}

footer .socials {
    text-align: center;
    margin: 30px 0;
}

footer .socials a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer .socials a:hover {
    color: #EDB310;
}

footer .brand {
    color: white;
    text-align: center;
    border-top: 1px solid white;
    padding-top: 20px;
}

footer .brand img {
    width: 100px;
}