.footer-container {
    width: 100%;
    background-color: black;
    padding-top: 40px;
}

.footer-top {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
}

.footer-col {
    flex: 1;
    min-width: 150px;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: orange;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-col ul li a:hover {
    background-color: purple;
    color: white;

}

.footer-social-section {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid white;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin: 0 15px;
    transition: opacity 0.3s;
}

.social-links a:hover {
    background-color: purple;
    color: white;
}

.footer-bottom {
    background-color: #000;
    padding: 30px 20px;
    text-align: center;
    color: #fff;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-logo img {
    width: 125px;
    height: 55px;
    margin: -11px;
}

.copyright {
    font-size: 12px;
    margin: 0;
}