body {
    margin: 0;
    font-family: sans-serif;
}

/* ======================= main ======================= */
/* ==================================================== */
main {
    margin: 0 18%;
}

/* ======================= product section ======================= */
/* =============================================================== */
/* ======================= layout ======================= */
.section-product {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    border: lightgrey 1px solid;
    padding: 15px;
    margin: 10px 0;
}

/* ======================= image ======================= */
.section-product .container-images {
    flex: 1;
}

.section-product .container-images .main-image {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.section-product .container-images .images-list {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.section-product .container-images .images-list img {
    width: 45px;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
}

.section-product .container-images .images-list img:hover,
.section-product .container-images .images-list img.active {
    border-color: #F2B035;
}

/* ======================= Product details (right side) ======================= */
.section-product .product-details {
    flex: 1;
}

/* title */
.section-product .product-details h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.section-product .product-details .rating .star {
    color: #F0AF35;
}

.section-product .product-details .price {
    font-size: 22px;
    font-weight: bold;
    color: #F2B035;
}

.section-product .product-details > label {
    font-size: 20px;
}

.section-product .product-details .desc {
    color: #333333;
    margin-bottom: 20px;
    line-height: 1.5;
    white-space: pre-line;
}

/* =============================== option section ===============================
you choosing size, colors for your product
*/
.section-product .product-details .container-options .option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.section-product .product-details .container-options .option label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

/* ======= options ======= */
.section-product .product-details .container-options .color-options, .size-options {
    display: flex;
    gap: 10px;
}

/* == color button == */
.section-product .product-details .container-options .color-options .color-btn {
    width: 25px;
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}

/* colors for buttons */
.section-product .product-details .container-options .color-options .color-btn.black {
    background: black;
}
.section-product .product-details .container-options .color-options .color-btn.grey {
    background: grey;
}

.section-product .product-details .container-options .color-options .color-btn.red {
    background: red;
}

.section-product .product-details .container-options .color-options .color-btn.blue {
    background: blue;
}
.section-product .product-details .container-options .color-options .color-btn.pink {
    background: pink;
}

/* When selected */
.section-product .product-details .container-options .color-options .color-btn.active {
    border: 3px solid #F2B035;
}

/* == size button == */
.section-product .product-details .container-options .size-options .size-btn {
    padding: 8px 14px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    transition: 0.3s;

}

.section-product .product-details .container-options .size-options button:hover {
    background: white;
    border-color: #F2B035;
}

/* when selected */
.section-product .product-details .container-options .size-options button.active {
    background: #F2B035;
    border-color: #F2B035;
}

/*======================= cart page button section =======================*/
.section-product .container-buttons {
    display: flex;
    gap: 5px;
}

.section-product .container-buttons button {
    background-color: #F2C641;
    color: black;
    border: none;
    padding: 14px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.section-product .container-buttons button:hover {
    background: #F2B035;
}

.section-product .container-buttons #buyBtn {
    width: 70%;
}

.section-product .container-buttons #addToCartBtn,
.section-product .container-buttons #wishlistBtn {
    width: 10%;
}

.section-product .container-buttons #wishlistBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: #aaa;
}

.section-product .container-buttons #wishlistBtn.active {
    color: deeppink;
}

/* status shows when you press a button */
.product-details .status-msg {
    color: green;
    font-weight: bold;
    transition: opacity 0.3s;
    opacity: 0;
    text-align: center;
    margin-top: 10px;
}

.product-details .status-msg.show {
    opacity: 1;
}

/*======================= Pop up =======================*/
/* pop up appears when you press the buy button */
.section-product .product-details .popup {
    display: none; /* ẩn mặc định */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.section-product .product-details .popup .popup-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    max-height: 80%;
    overflow-y: auto;
}

.section-product .product-details .popup .popup-content .container-popup-title h2 {
    margin-top: 0;
}

.section-product .product-details .popup .popup-content .container-popup-title {
    display: flex;
    gap: 15px;
}

.section-product .product-details .popup .popup-content .container-popup-title .edit-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.section-product .product-details .popup .popup-content .container-popup-title .edit-btn:hover {
    transform: scale(1.05);
}

.section-product .product-details .popup .popup-content label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

.section-product .product-details .popup .popup-content > label input,
.section-product .product-details .popup .popup-content > label textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

/* payment method */
.section-product .product-details .popup .payment-container .radio-container {
    padding: 10px;
    border: lightgrey 1px solid;
    border-radius: 4px;
}

.section-product .product-details .popup .payment-container .radio-container input {
    margin: 0 10px;
}

.section-product .product-details .popup .payment-container .radio-container label {
    display: flex;
    margin: 8px 0;
    align-items: center;
    font-weight: normal;
}

.section-product .product-details .popup .payment-container .radio-container img {
    width: auto;
    height: 30px;
}


/* voucher */
/*.section-product .product-details .popup #container-voucher {*/
/*    display: flex;*/
/*    justify-content: left;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*    border-bottom: lightgrey solid 1px;*/
/*    padding: 10px;*/
/*    margin-top: 10px;*/
/*}*/

/*.section-product .product-details .popup #container-voucher > label {*/
/*    margin: 0;*/
/*}*/

/*.section-product .product-details .popup #container-voucher .voucher-input {*/
/*    display: flex;*/
/*    gap: 5px;*/
/*}*/

/*.section-product .product-details .popup #container-voucher input {*/
/*    padding: 5px;*/
/*    border: 1px solid lightgrey;*/
/*    border-radius: 4px;*/
/*    outline: none;*/
/*}*/

/*.section-product .product-details .popup #container-voucher button {*/
/*    padding: 5px;*/
/*    border: none;*/
/*    background: #F2C641;*/
/*    border-radius: 4px;*/
/*    outline: none;*/
/*    transition: 0.3s;*/

/*}*/

/*.section-product .product-details .popup #container-voucher button:hover {*/
/*    background: #F2B035;*/
/*}*/
.section-product .product-details .popup .container-voucher {
    margin-top: 10px;
}

.section-product .product-details .popup .container-voucher .voucher-container {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-product .product-details .popup .container-voucher .voucher-container label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.section-product .product-details .popup .container-voucher .voucher-container input {
    margin: 0;
}

/* price popup */
.section-product .product-details .popup .container-product-price {
    background: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: lightgrey 1px solid;
}

.section-product .product-details .popup .container-product-price .container-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 14px;
}

.section-product .product-details .popup .container-product-price .container-price label {
    font-weight: normal;
}

.section-product .product-details .popup .container-product-price .container-price p {
    margin: 10px;
}

.section-product .product-details .popup .container-product-price #final-price .title {
    font-weight: bold;
}

.section-product .product-details .popup .container-product-price #final-price .final-price-para {
    font-weight: bold;
    color: #F2B035;
}

/* buttons for popup */
.section-product .product-details .popup .popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.section-product .product-details .popup .popup-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.section-product .product-details .popup #confirmBuy {
    background: #F2C641;
    font-weight: bold;
}

.section-product .product-details .popup #confirmBuy:hover {
    background: #F2B035;
}

.section-product .product-details .popup #cancelBuy {
    background: lightgray;
}

.section-product .product-details .popup #cancelBuy:hover {
    color: white;
    background: red;
}


/* ======================= comment section ======================= */
/* =============================================================== */
main .section-review {
    display: flex;
    flex-direction: column;
    border: lightgrey 1px solid;
    padding: 15px;
    margin-bottom: 10px;
}

/* Rating */
main .section-review .container-review .container-rating {
    display: flex;
    align-items: center;
    gap: 10px;
}
main .section-review .container-review .container-rating h3 {
    font-size: 22px;
    margin: 0;
}
main .section-review .container-review .container-rating .stars {
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 25px;
    cursor: pointer;
    gap: 2px;
}

main .section-review .container-review .container-rating .stars input {
    display: none;
}

main .section-review .container-review .container-rating .stars label {
    color: #ccc;
    transition: 0.3s;
}

main .section-review .container-review .container-rating .stars input:checked ~ label,
main .section-review .container-review .container-rating .stars label:hover,
main .section-review .container-review .container-rating .stars label:hover ~ label {
    color: #F2B035;
}

/* Comment */
main .section-review .container-review .comment-form {
    padding-bottom: 15px;
    margin: 10px;
    border-bottom: 1px lightgrey solid;
}

/* button for commenting */
main .section-review .comment-form button {
    background-color: #F2C641;
    color: black;
    border: none;
    padding: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

main .section-review .comment-form button:hover {
    background: #F2B035;
}

main .section-review .comment-form textarea {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: lightgrey 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Container comments - comment lists */
main .section-review .comment-list {
    margin: 20px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* khoảng cách giữa các comment */
}

/* Comment box */
main .section-review .comment {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 2px 6px lightgrey;
}

/* user name (comment) */
main .section-review .comment h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0 6px;
    color: #333333;
}

/* rating */
main .section-review .comment .rating .star {
    color: #F0AF35;
}

/* comment content */
main .section-review .comment p {
    font-size: 14px;
    color: #555555;
    margin-bottom: 8px;
}

/* comment date */
main .section-review .comment span {
    font-size: 12px;
    color: #999999;
}
