* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

li {
    list-style: none;
}

/* header */

.top-banner {
    position: relative;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 2px solid #333
}
.brand-name {
    position: absolute;
    top: 5px;
    left: 25px


}

.brand-name h1 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;

}

.brand-name p {
    margin: 0;
    font-size: 10px;
    letter-spacing: 2px;
    color: #fff;
    opacity: 0.9;
    transform: translateX(20px);
}


.service-box {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    font-weight: 500;
    /*box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);*/
}
/*.service-box:hover {*/
/*    background-color: purple;*/
/*}*/

.service-box i {
    font-size: 22px;
    color: #f5c518;
}


.service-box span b {
    color: #ffa500;
}


nav {
    background-color: #ffa500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 50px;
    gap: 25px;
}


.img-nav img {
    width: 80px;
    height: auto;
}


.content-nav {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    gap: 50px;
    flex: 1;
}

.content-nav > ul  {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
/*.content-nav ul{*/
/*    display: flex;*/
/*    list-style: none;*/
/*    gap: 40px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    margin-left: 40px;*/
/*}*/

.content-nav ul li a  {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
}

.content-nav ul li a:hover {
    background-color: purple;
}


.dropdown {
    position: relative;
}


.dropdown-menu {
    position: absolute;
    top: 150%;
    left: -30px;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
    min-width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
}


.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.dropdown-menu li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}


.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: black !important;
    text-decoration: none;
    background-color: white;
    font-weight: 500;
    transition: all 0.25s ease;
}
.search-bar{
    position: absolute;
    right: 450px;
    transform: translateY(-2%);
    display: flex;
    align-items: center;
}

.search-bar form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    width: 350px;
    height: 38px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.search-bar form:hover {
    border-color: purple;
}
.search-bar .search-icon {
    padding: 0 10px;
    color: #777;
    font-size: 16px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
}

.search-bar button {
    background-color: black;
    color: white;
    border: none;
    padding: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
}
.search-bar button:hover {
    background-color: purple;
}


#cart {
    background-color: white;
    border:  1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    margin-left: 1rem;
    position: relative;
    right: -40px;
}

#cart:hover {
    border-width: 1px;
    border-color: purple;
}

#cart i {
    font-size: 20px;
    color: black;
}
#login {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    border:  1px solid transparent;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    right :-45px;
}

#login:hover {
    border-width:1px ;
    border-color:purple;
}
#menu-toggle {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    border:  1px solid transparent;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    right :-48px;
}

#menu-toggle:hover {
    border-width:1px ;
    border-color:purple;
}



