.product-section {
    padding: 50px 80px;
    background-color: white;
    text-align: center;
}
.product-section h1{
    top : -30px;
    text-align: left;
    font-size: 25px;
}
.product-section h2 {
    background-color: orange;
    color: white;
    font-size: 25px;
    margin: 20px 0 50px;
    letter-spacing: 1.5px;
    border-bottom: 5px solid transparent;
    display: inline-block;
    padding-bottom: 6px;
    border-radius: 10px;
    position: relative;
    width: 24%;
    height: 20px;
    cursor: pointer;
}

/* --- Slider --- */
.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    overflow-x: auto;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    font-size: 30px;
    transition: 0.3s;
    border: 1px solid black;
}

.arrow:hover {
    color: white;
    background-color: purple;
}

.arrow.left {
    left: 150px;
}

.arrow.right {
    right: 150px;
}

.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}
.product-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.product-card {
    position: relative;
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;

}

.product-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 2px;
    border-radius: 5px;
    z-index: 10;
}
.product-card img {
    width: 70%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.product-card img:hover {
    transform: scale(1.1);
}
.product-card h3 {
    margin: 10px -15px 5px;
    font-size: 17px;
    color: black;
}

.price {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    height: 40px;
}

.price .old-price {
    text-decoration: line-through;
    color: purple;
    margin-right: 10px;
}

.price .new-price {
    font-weight: bold;
    color: purple;
}
.sold-out-tag{
    position: relative;
    top: -20px;
    font-size: 14px;
    color: #333;
}
.product-actions {
    display: flex;
    gap: 10px;
    margin-top: -5px;
    width: 100%;
}

.product-actions .buy-btn {
    flex-grow: 1;
    background-color: orange;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-actions .inner-circle1 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.product-actions .buy-btn:hover {
    background-color: purple;
    color: white;
}
.product-actions .inner-circle1:hover {
    background-color:purple;
    color: white;
}
