/*body {*/
/*    margin: 0;*/
/*    font-family: sans-serif;*/
/*}*/

/*header {*/
/*    padding: 30px;*/
/*    text-align: center;*/
/*    background: #F2C641;*/
/*    color: white;*/
/*    font-size: 30px;*/
/*}*/

/*.container-history {*/
/*    margin: 0 18%;*/
/*}*/

/* ============================= tab menu ============================= */
/* ==================================================================== */
.container-history .tab-nav-menu {
    display: flex;
    margin: 30px 0;
    border: lightgrey solid 2px;
}

.container-history .tab-menu {
    flex: 1;
    text-align: center;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container-history .tab-menu.active,
.container-history .tab-menu:hover {
    border-bottom: #F2B035 2px solid;
    color: #F2B035;
}

/* ========================= product header =========================== */
/* ==================================================================== */
.container-history .product-header {
    display: flex;
    align-items: center;
    padding: 22px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.container-history .product-header-price,
.container-history .product-header-status,
.container-history .product-header-date {
    flex: 1;
    text-align: center;
}

.container-history .product-header-title {
    flex: 2;
    text-align: left;
}

/* ============================= content ============================== */
/* ==================================================================== */
/* show content */
.container-history .product-content {
    display: none;
}

.container-history .product-content.active {
    display: block;
}

/* nothing image show */
.container-history #cancelled.active {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* layout */
.container-history .container-contents .product {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
}

/* img */
.container-history .container-contents .product img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

/* title */
.container-history .container-contents .product .product-title {
    display: flex;
    flex: 2;
    gap: 10px;
    align-items: center;
}

.container-history .container-contents .product .product-price,
.container-history .container-contents .product .product-status-delivered,
.container-history .container-contents .product .product-status-shipping,
.container-history .container-contents .product .product-date {
    text-align: center;
    padding: 5px;
    flex: 1;
}

.container-history .product .product-status-delivered {
    font-weight: bold;
    color: green;
}

.container-history .product .product-status-shipping {
    font-weight: bold;
    color: #F0AF35;
}