body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make body at least fill the viewport */
}

main {
    flex: 1;
}

main .container {
    background: white;
    margin: 0 18%;
    min-height: 900px;
}

h1 {
    font-size: 24px;
    padding: 20px 30px;
    margin: 0 0 10px;
    border-bottom: lightgrey 1px solid;
}

/* ========================== wishlist header ========================= */
/* ==================================================================== */
main .wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    font-weight: bold;
    background: #f2f2f2;
}

main .wishlist-header .wishlist-header-content {
    flex: 1;
    text-align: center;
}

main .wishlist-header #wishlist-header-title {
    flex: 2;
    text-align: left;
}

/* ========================== wishlist items ========================== */
/* ==================================================================== */
/* general */
main .wishlist-item {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    border-bottom: solid 1px lightgrey;
}

.wishlist-item .wishlist-item-options,
.wishlist-item .wishlist-item-price,
.wishlist-item .wishlist-item-status,
.wishlist-item .wishlist-item-buttons {
    text-align: center;
    padding: 5px;
    flex: 1;
}

.wishlist-item .wishlist-item-status.hasProduct {
    color: green;
}

.wishlist-item .wishlist-item-status.outOfProduct {
    color: red;
}

/* title */
.wishlist-item .wishlist-item-title {
    display: flex;
    flex: 2;
    gap: 10px;
    align-items: center;
}
.wishlist-item .wishlist-item-title .rating .star {
    color: #F2B035;
}

/* options */
.wishlist-item .wishlist-item-options {
    display: flex;
    flex-direction: column;
}

.wishlist-item .wishlist-item-options .wishlist-colors,
.wishlist-item .wishlist-item-options .wishlist-sizes {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.wishlist-item .wishlist-item-options .w-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}

.wishlist-item .wishlist-item-options .w-red {
    background: red;
}

.wishlist-item .wishlist-item-options .w-blue {
    background: blue;
}

.wishlist-item .wishlist-item-options .w-black {
    background: black;
}

.wishlist-item .wishlist-item-options .w-color:hover {
    border: 2px solid #F2B035;
}

.wishlist-item .wishlist-item-options .wishlist-sizes button {
    padding: 5px 10px;
    background: #f5f5f5;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.wishlist-item .wishlist-item-options .wishlist-sizes button:hover {
    background: #F2B035;
}

/* img */
.wishlist-item .wishlist-item-title img {
    width: 100px;
    height: auto;
    border-radius: 4px;
}

/* p-description */
.wishlist-item .wishlist-item-title p {
    color: grey;
}

/* button */
.wishlist-item .wishlist-item-buttons {
    display: flex;
    gap: 5px;
}
.wishlist-item .wishlist-item-buttons .add-to-cart {
    background: #F2C641;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.3s;
}

.wishlist-item .wishlist-item-buttons .add-to-cart:hover {
    background: #F2B035;
}

.wishlist-item .wishlist-item-buttons .remove-btn {
    background: none;
    border: 1px solid white;
    color: grey;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.wishlist-item .wishlist-item-buttons .remove-btn:hover {
    background: red;
    color: white;
}

