body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make body at least fill the viewport */
}

main {
    flex: 1;
    min-height: 900px;
}

/* ======================= support header ======================= */
/* ============================================================== */
.support-header {
    padding: 30px 20px;
    background: #F2C641;
}

.support-header h1 {
    text-align: center;
    color: black;
    font-size: 35px;
}


/* === button === */
.container-search button {
    background: #F2C641;
    color: black;
    border: none;
    padding: 15px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.container-search button:hover {
    background: #F2B035;
}


/* ============================ topics =========================== */
/* =============================================================== */
.container-topics {
    margin: 30px 18%;
}
.container-topics select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background: white;
    cursor: pointer;
}

/* ========================== form box ========================== */
.support-form {
    display: flex;
    flex-direction: column;
    margin: 0 18%;
    gap: 15px;
}

.support-form textarea {
    box-sizing: border-box;
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    transition: 0.3s;
    width: 100%;
}

.support-form textarea:focus {
    border-color: #F2C641;
    outline: none;
}
.support-form a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.support-form button {
    align-self: center;
    background: #F2C641;
    color: black;
    border: none;
    padding: 12px 25px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.support-form button:hover {
    background: #F2B035;
}