* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

li {
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.top-banner {
    position: relative;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 5px 0;
    font-size: 14px;
    border-bottom: 2px solid black;
}
.brand-name {
    position: absolute;
    top: 15px;
    left: 25px
}
img[alt="Travel Logo"] {
    width: 125px;
    height: 55px;
    margin: -11px;
}
.brand-name p {
    margin: 0;
    font-size: 10px;
    letter-spacing: 2px;
    color: #fff;
    opacity: 0.9;
    transform: translateX(20px);
}
.header-search {
    padding: 10px 120px;
}
.search-bar {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    width: 900px;
    position: relative;
    left: 150px;
}
.search-select {
    padding: 9px 10px;
    color: black;
    height: 40px;
    background-color: orange;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.search-select:focus {
    color: white;
    background-color: purple;
}
.search-select option {
    color: black;
    background-color: white;
}

.search-icon {
    padding: 8px 10px;
    color: black;
    font-size: 16px;
    background-color: white;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 2px;
    font-size: 12px;
}
.divider {
    width: 1px;
    height: 22px;
    background-color: black;
}
.search-bar button {
    background-color: orange;
    color: black;
    border: none;
    padding: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    height: 40px;
    font-size: 12px;
}
.search-bar button:hover {
    color: white;
    background-color: purple;
}
.avatar-icon-notify{
    width: 140px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left : 140px;
}
.avatar-icon-shopping-cart {
    width: 140px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left : 80px;

}
.avatar-icon-user {
    width: 140px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left :20px;
}

.inner-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-circle:hover {
    background-color: purple;
}

.inner-circle i {
    color: black;
    font-size: 28px;
}
.inner-circle i:hover {
    color: white;
}

nav {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 50px;
    gap: 25px;
}
.img-nav img {
    width: 80px;
    height: auto;
}
.content-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    flex: 1;
    font-size: 14px;
}
#menu-toggle {
    width: 30px;
    height: 32px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    border:  1px solid transparent;
    cursor: pointer;
    position: relative;
    right :75px;
    font-size: 15px;
}
#menu-toggle:hover {
    background-color: purple;
    color: white;
}
.content-nav > ul  {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    right: 85px;
}
.content-nav ul li a  {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
}
.content-nav ul li a:hover {
    color: white;
    background-color: purple;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 150%;
    left: -30px;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
    min-width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.dropdown-menu li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}
.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: black !important;
    text-decoration: none;
    background-color: white;
    font-weight: 500;
    transition: all 0.25s ease;
}
.results {
    padding: 30px 60px;
    background-color: white;
    text-align: center;
}

.results h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #222;
}

/*.product-list {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
/*    gap: 25px;*/
/*    margin-bottom: 40px;*/
/*    padding: 30px 40px;*/
/*}*/

/*.product-grid {*/
/*    display: flex;*/
/*    gap: 20px;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*    transition: all 0.3s ease;*/
/*}*/

/*.product-card {*/
/*    position: relative;*/
/*    background: white;*/
/*    border-radius: 12px;*/
/*    padding: 25px;*/
/*    box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
/*    transition: transform 0.3s, box-shadow 0.3s;*/

/*}*/

/*.product-card:hover {*/
/*    transform: translateY(-1px);*/
/*    box-shadow: 0 10px 25px rgba(0,0,0,0.15);*/
/*}*/
/*.discount-badge {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    background-color: orange;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    font-size: 17px;*/
/*    padding: 5px 2px;*/
/*    border-radius: 5px;*/
/*    z-index: 10;*/
/*}*/
/*.product-card img {*/
/*    width: 70%;*/
/*    height: 180px;*/
/*    object-fit: cover;*/
/*    border-radius: 10px;*/
/*}*/
/*.product-card img:hover {*/
/*    transform: scale(1.1);*/
/*}*/
/*.product-card h3 {*/
/*    margin: 10px 0 5px;*/
/*    font-size: 17px;*/
/*    color: #333;*/
/*}*/

/*.price {*/
/*    margin-top: 10px;*/
/*    font-size: 16px;*/
/*    text-align: center;*/
/*    height: 40px;*/
/*}*/
/*.price .old-price {*/
/*    text-decoration: line-through;*/
/*    color: purple;*/
/*    margin-right: 10px;*/
/*}*/

/*.price .new-price {*/
/*    font-weight: bold;*/
/*    color: purple;*/
/*}*/

/*.product-actions {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    margin-top: 10px;*/
/*    width: 100%;*/
/*}*/

/*.product-actions .buy-btn {*/
/*    flex-grow: 1;*/
/*    background-color: orange;*/
/*    color: white;*/
/*    padding: 8px 20px;*/
/*    border: none;*/
/*    border-radius: 25px;*/
/*    cursor: pointer;*/
/*    font-size: 14px;*/
/*    transition: background-color 0.3s;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.product-actions .inner-circle1 {*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    border-radius: 50%;*/
/*    background-color: white;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: black;*/
/*    font-size: 20px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s;*/
/*}*/
/*.product-actions .buy-btn:hover {*/
/*    background-color: purple;*/
/*    color: white;*/
/*}*/
/*.product-actions .inner-circle1:hover {*/
/*    background-color:purple;*/
/*    color: white;*/
/*}*/
.footer-container {
    width: 100%;
    background-color: black;
    padding-top: 111px;
}

.footer-top {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
}

.footer-col {
    flex: 1;
    min-width: 150px;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: orange;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-col ul li a:hover {
    background-color: purple;
    color: white;

}

.footer-social-section {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid white;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin: 0 15px;
    transition: opacity 0.3s;
}

.social-links a:hover {
    background-color: purple;
    color: white;
}

.footer-bottom {
    background-color: #000;
    padding: 30px 20px;
    text-align: center;
    color: #fff;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-logo img {
    width: 125px;
    height: 55px;
    margin: -11px;
}

.copyright {
    font-size: 12px;
    margin: 0;
}
